/* W3SCHOOL MEDIA QUERY https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */
/*
	CSS para tags HTML
*/
@font-face {
	font-family: "hypervipergradital";
	src: url("../assets/fonts/hypervipergradital.ttf");
}
body {
	font-family: "hypervipergradital";
	padding: 0;
	margin: 0;
}
canvas{
	position: absolute;
}
a{
	text-decoration: none;
	color:inherit;
}
div,
input, select,
h1, h2, h3, h4, h5, h6, 
p,
span, 
a{
	font-family: inherit;
}
button{
	font-family: Arial, Helvetica, sans-serif;
	border: 0.2vw solid #E94090;
	color: #E94090;
	background-color: transparent;
}
img{
	width: inherit;
}
.border{
	border: 0.2vw solid #E94090;
}
/*Loader*/
.loader-container{
	position: relative;
	margin: 0 auto;
	color: white;
	font-size: 4vw;
	width: 50%;
	height: 30%;
	top: 5%;
}
.load-img{
	text-align: center;
	width: 100%;
	margin-bottom: 20%;
}
.load-img img{
	width: 80%;
}
.loaderbar-content{
	text-align: center;
	width: 100%;
	height: 5vw;
}
.loaderbar-content p{
	position: absolute;
	width: 100%;
	margin: .2em 0;
}
.loaderbar{
	position: absolute;
	background-color: #EA4150;
	text-align: center;
	height: inherit;
}
/*Title Model*/
.title-group{
	width: 100%;
	margin: 0 auto;
}
.small-text{
	color: #E94090;
	left: 0;
	margin: 0;
}
.big-text{
	text-align: center;
	color: white;
	margin: 0;
	margin-bottom: .6em;
}
/*Menu*/
.menu-container{
	position: relative;
	color: white;
	margin: 0 auto;
}
.menu-bg{
	position: fixed;
	opacity: .5;
}
.menu-img{
	position: relative;
	text-align: center;
	width: 100%;
}
.menu-content{
	position: relative;
	background-color: #222543;
	margin: 0 auto;
}
.menu-button{
	width: 100%;
}
/*In GAME LAYOUT*/
.pauser{
	position: relative;
    float: right;
    margin: .8em;
    width: 5vw;
    height: 5vw;
}
/* RESPONSIVE MEDIA QUERY */
@media screen and (min-width: 320px) and (max-width: 767px){
	/*Title Model*/
	.small-text{
		font-size: 5vw;
	}
	.big-text{
		line-height: 4.5vw;
		font-size: 9vw;
	}
	/*Menu*/
	.menu-container{
		font-size: 4vw;
		width: 95%;
		height: 30%;
		top: 15%;
	}
	.menu-bg{
		left: -25%;
		top: 30%;
		width: 30em;
	}
	.menu-img{
		margin-bottom: 5%;
	}
	.menu-content{
		width: 60%;
		padding: .3em;
	}
	.menu-button{
		height: 40px;
		margin: .5em 0;
		font-size: 5vw;
	}
	/*In GAME LAYOUT*/
	.pause-menu{
		top: 25% !important;
	}
}
@media screen and (min-width: 768px){
	/*Title Model*/
	.small-text{
		font-size: 2vw;
	}
	.big-text{
		line-height: 4vw;
		font-size: 7vw;
	}
	/*Menu*/
	.menu-container{
		font-size: 4vw;
		width: 55%;
		height: 30%;
		top: 15%;
	}
	.menu-bg{
		left: -20%;
		top: 20%;
		width: 20em;
	}
	.menu-img{
		margin-bottom: 5%;
	}
	.menu-content{
		width: 60%;
		padding: .3em;
	}
	.menu-button{
		height: 40px;
		margin: .5em 0;
		font-size: 3vw;
	}
	/*In GAME LAYOUT*/
	.pause-menu{
		top: 25% !important;
	}
}
@media screen and (min-width: 320px)  and (max-width: 767px) and (orientation: landscape) {
	/*Title Model*/
	.small-text{
		font-size: 2vw;
	}
	.big-text{
		line-height: 4vw;
		font-size: 7vw;
	}
	/*Menu*/
	.menu-container{
		font-size: 4vw;
		width: 55%;
		height: 30%;
		top: 5%;
	}
	.menu-bg{
		left: -20%;
		top: 15%;
		width: 18em;
	}
	.menu-img{
		margin-bottom: 5%;
	}
	.menu-content{
		width: 60%;
		padding: .3em;
	}
	.menu-button{
		height: 40px;
		margin: .5em 0;
		font-size: 3vw;
	}
	/*In GAME LAYOUT*/
	.pause-menu{
		top: 15% !important;
	}
}
@media screen and (min-width: 768px)  and (max-width: 993px) and (orientation: landscape) {
	/*Title Model*/
	.small-text{
		font-size: 2vw;
	}
	.big-text{
		line-height: 4vw;
		font-size: 7vw;
	}
	/*Menu*/
	.menu-container{
		font-size: 4vw;
		width: 55%;
		height: 30%;
		top: 2%;
	}
	.menu-bg{
		left: -20%;
		top: 15%;
		width: 18em;
	}
	.menu-img{
		margin-bottom: 2%;
	}
	.menu-content{
		width: 60%;
		padding: .3em;
	}
	.menu-button{
		height: 40px;
		margin: .5em 0;
		font-size: 3vw;
	}
	/*In GAME LAYOUT*/
	.pause-menu{
		top: 12% !important;
	}
}
/*@media screen and (min-width: 992px) and (orientation: landscape) {
}*/
@media screen and (min-width: 993px){
	/*Title Model*/
	.small-text{
		font-size: 2vw;
	}
	.big-text{
		line-height: 4vw;
		font-size: 7vw;
	}
	/*Menu*/
	.menu-container{
		font-size: 4vw;
		width: 55%;
		height: 30%;
		top: 5%;
	}
	.menu-bg{
		left: -20%;
		top: 20%;
		width: 16em;
	}
	.menu-img{
		margin-bottom: 5%;
	}
	.menu-content{
		width: 60%;
		padding: .3em;
	}
	.menu-button{
		height: 40px;
		margin: .5em 0;
		font-size: 2vw;
	}
	/*In GAME LAYOUT*/
	.pause-menu{
		top: 25% !important;
	}
}